<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abilitymap">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main"
        android:label="모아도"
        android:roundIcon="@mipmap/ic_launcher_main_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.UMC_Abilitiymap"
        android:hardwareAccelerated="true"
        >


        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.abilitymap.MainActivity" android:theme="@style/activityTheme"
            android:exported="true"
            android:usesCleartextTraffic="true">
        </activity>

        <activity android:name=".OnboardingActivity"
            android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <activity android:name=".ChooseOptionActivity"
            android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <activity
            android:name=".NotificationActivity" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <activity
            android:name=".Report_detail" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>


        <activity
            android:name=".FilterActivity" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <activity
            android:name=".EmergencyCallActivity" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>


        <activity
            android:name=".AddPhoneBookActivity" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <activity
            android:name=".MenuBookActivity" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <activity
            android:name=".OssActivity" android:theme="@style/activityTheme"
            android:exported="true">
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="872q4ol809" />
    </application>
</manifest>